/__pycache__
/checkpoints
/sentences_data_synth
/sentences_testing
/single_symbol_testing
/annotations
/detections
/debug_test
/src/classification/__pycache__
/src/detection/__pycache__
/src/shared/__pycache__
/sentences_data_synth_test
.DS_Store
/src/classification/__pycache__
/tools/__pycache__
/src/classification/__pycache__
*.pyc
/.symbol_cache
