.DS_Store
*.pyc
/__pycache__
/src/classification/__pycache__
/src/detection/__pycache__
/src/shared/__pycache__
/tools/__pycache__
/.symbol_cache
/annotations
/checkpoints
/augmentation_dev
/classifications
/debug_test
/detections
/sentences_data_synth
/sentences_testing
/single_symbol_testing
