/__pycache__
/checkpoints
/sentences_data_synth
/sentences_testing
/single_symbol_testing
/annotations
/detections
/detection_synth_test1
/debug_test
/src/classification/__pycache__
/src/detection/__pycache__
/src/shared/__pycache__
